body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    max-width: 100vw;
    margin-top: 1.042vw;
}

footer {
    background-color: #589cb3;
    color: white;
    padding-top: 2.083vw;
    padding-bottom: 1.042vw;
}

.built {
    text-align: center;
    font-size: 0.625vw;
    margin-top: 3.125vw;
}

.colors {
    text-align: center;
}

.blue {
    background-color: #589cb3;
}

.Contact {
    max-width: 100vw;
    width: 100%;
    margin: auto;
    text-align: center;
}

.Contact h1 {
    font-size: 1.875vw;
}

.Contact a {
    font-size: 0.729vw;
}

.about h2 {
    font-size: 1.042vw;
}

.about h2 {
    font-size: 1.25vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.flex-contact {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2.083vw;
    justify-content: center;
}

.Contact h1 {
    font-weight: 700;
} 

.Contact h2 {
    margin-top: -0.521vw;
    margin-bottom: 1.042vw;
    font-size: 0.729vw;
    font-weight: 700;
}

.flex-contact a {
    text-decoration: none;
}

.flex-contact a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav, .flex {
    max-width: 100vw;
}

.flex {
    display: flex;
    justify-content: flex-end;
    gap: 2.604vw;
    max-width: 59.896vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.563vw;
}


.flex a {
    text-decoration: none;
    font-size: 1.667vw;
    color: #589cb3;
}

.flex .name p {
    font-size: 1.667vw;
}

.flex .name {
    margin-right: auto;
}

.pro a {
    color: black;
}

.flex a:hover, .flex-contact a:hover {
    text-decoration: underline;
    opacity: 70%;
    cursor: pointer;
}

.preview-hover p {
    float: right;
    padding-right: 0.938vw;
    margin-bottom: -1.302vw;
    font-size: 0.625vw;
}

.flex-project-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.042vw;
}

.flex-project-title a {
    margin-right: 0.521vw;
    font-size: 0.833vw;
    color: black;
}

.flex-project-title a:hover {
    color:rgb(125, 125, 125);
}


.flex-title h1 {
    margin: 0;
    margin-bottom: 3.125vw;
}

.flex-pro h2 {
    margin: 0;
}

.flex-title p {
    font-size: 0.833vw;
    margin-left: auto;
    margin-right: 0.521vw;
    color: #589cb3;
}

.projects {
    margin-top: 4.167vw;
}

.pro h1 {
    font-size: 4.167vw;
    font-weight: 700;
    color: #589cb3;
}

.projects h2 {
    margin-top: 0.521vw;
    font-size: 2.5vw;
    margin-bottom: 1.042vw;
}

.pro {
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.042vw;
}

.flex-tags {
    display: flex;
    gap: 1.042vw;
}

.flex-tags a {
    margin-left: auto;
    font-size: 0.729vw;
    align-self: center;
    padding: 0.417vw 0.938vw;
    background-color: #6e5494;
    color: white;
    border-radius: 1.302vw;
}

.flex-tags a:hover {
    background-color: #5a26a8;
    color: white;
    text-decoration: none;
}

.flex-tags p{
    font-size: 0.729vw;
    border: solid #589cb3 0.13vw;
    border-radius: 1.302vw;
    padding: 0.417vw 0.938vw;
    color: #589cb3;
}

.flex-project {
    display: flex;
    align-items: center;
    border: solid #589cb3 0.104vw;
    border-radius: 1.042vw;
    margin-top: 0.521vw;
    min-height: 20.833vw;
    height: 100%;
    margin-bottom: 4.167vw;
}

.pro hr {
    border: 0;
    clear: both;
    display:block;
    width: 100%;               
    background-color:#589cb3;
    height: 0.313vw;
    margin-top: 0;
}


.flex-project .pro-text{
    flex: 1;
    align-self: flex-start;
    margin-right: auto;
    font-size: 0.938vw;
    padding: 3.333vw 3.333vw 0px 3.333vw
}

.pro-text {
    display: flex;
    flex-direction: column;
}


.flex-project video{
    width: 29.844vw;
    height: 20.833vw;
    border: solid black;
    border-radius: 0px 0.964vw 0.964vw 0px;
    border-width: 0px 0px 0px 0.094vw;
    margin-left: auto;
    object-fit: cover;
    background-color: black;
    filter: brightness(60%);

}

.vid-hover:hover {
    flex: 2;
    transition: all 0.2s cubic-bezier(0.08, 0.82, 0.17, 1);
    filter: brightness(100%);
}

