

@font-face {
    font-family: coolvetica;
    src: url(../fonts/Coolvetica\ Rg.otf)
}

@font-face {
    font-family: HelveticaNeueHeavy;
    src: url(../fonts/HelveticaNeue/HelveticaNeueMedium.otf)
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue/HelveticaNeueRoman.otf)
}

body {
    font-family: HelveticaNeue;
}

.flex {
    display: flex;
}

button {
    width: 187px;
    padding-top: 16px;
    padding-right: 43px;
    padding-bottom: 16px;
    padding-left: 43px;
    border-radius: 200px;
    background-color: rgba(7, 12, 37, 1);
    color: white;
    border: 0;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

h2 {
    font-family: HelveticaNeueHeavy;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}

h1 {
    font-family: coolvetica;
    margin: 0;
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 10px;
}

.NavBar {
    display: none
}

.not-white {
    background-color: rgba(250, 251, 253, 1);
    max-width: 100vw;
    width: 100%;
}

.dark-blue {
    background-color: rgba(7, 12, 37, 1);
    max-width: 100vw;
    width: 100%;
}

.content-size {
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1150px;
    width: 100%;
    margin: auto;
}


.about {
    padding-top: 186px;
    padding-bottom: 415px;
    position: relative;
}

.about h1, .recent-projects h1 {
    position: relative;
    z-index: 2;
}

.about img {
    margin-left: 54px;
}

.big-line {
    position: relative;
    margin-left: 150px;
    margin-top: -40px;
    z-index: 1;
    width: 598px;
    height: 44px;
    border: 0;
    border-radius: 50px;
    background-color: rgba(190, 200, 255, 1);
    margin-bottom: 39px;
}

.recent-projects .big-line {
    margin-left: 465px;
    width: 668px;
    background-color: #40C9A2;
}

.about button {
    margin-top: 32px;
}

.skills {
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: white;
}

.skills img {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    border-width: 1px;
}

.skills p {
    margin-top: 16px;
    margin-bottom: 58px;
}

.skills .flex {
    gap: 47px;
}

.recent-projects {
    color: white;
}

.margin-bottom {
    margin-bottom: 160px;
}

.recent-projects img {
    width: 606px;
    height: 402px;
}

.recent-projects .flex {
    gap: 40px;
}

.description {
    display: flex;
    flex-direction: column;
    width: 504px;
}

.main-project {
    margin-bottom: 100px;
}

.main-project h3 {
    margin-bottom: 24px;
}

.main-project p {
    font-size: 18px;
}

.tags {
    margin-top: auto;
}

.main-project button {
    margin-top: 32px;
    background-color: rgba(190, 200, 255, 1);
    color: rgba(7, 12, 37, 1);
    font-size: 18px;
    width: 143px;
    height: 37px;
    padding-top: 0;
    padding-bottom: 0;
}

.main-project button:hover {
    cursor: pointer;
    background-color: rgb(91, 115, 251);
    color: white;
}


footer p {
    margin-top: 10px;
    margin-bottom: 58px;
}

footer img {
    margin: auto;
    margin-left: 40px;
    width: 56px;
}


footer h2 {
    display: flex;
    align-items: center;
}
